.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
}
.task-list, .task-input {
    width: 100%;
    margin-bottom: 25px;
}

.task-single {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    height: 30px;
}

.task-inputs {
    margin: 0 auto;
    display: flex;
    width: 50%;
}

@media only screen and (max-width: 1700px) {
    .task-single {
        width: 750px;
    }
}

@media only screen and (max-width: 900px) {
    .task-single {
        width: 450px;
    }

    .task-inputs {
        width: 75%;
    }
}

@media only screen and (max-width: 600px) {
    .task-single {
        width: 300px;
    }

    .task-inputs {
        width: 100%;
    }
}

.task-col {
    padding-left: 15px;
    padding-right: 15px;
}

.task-col-left {
    width: 10%;
}

.task-col-middle {
    width: 80%;
    padding-bottom: 5px;
}

.task-col-right {
    width: 10%;
}

.task-description-text {
    width: 100%;
    box-sizing: border-box;
    border: none;
    resize: none;
    min-height: 25px;
    overflow-y: auto;
    word-wrap:break-word;
    height: 100%;
}

.filter-bar {
    margin-bottom: 25px;
}

.add-task-textarea {
    margin-left: 10%;
    margin-right: 10px;
}

a, .link-button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*input has OS specific font-family*/
    color: #069;
    cursor: pointer;
}

.new-task-button {
    border-radius: 25%;
    padding: 0 10px;
    border: none;
}